[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
gym = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
main = "python main.py"
simple = "python simple_simulation.py"