[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
gym = "*"
autopep8 = "*"
pylint = "*"
3to2 = "*"

[dev-packages]

[requires]
python_version = "*"

[scripts]
main = "python main.py"
simple = "python scripts/simple_simulation.py"
format = "autopep8 ."
lint = "pylint ./**/*.py && pylint ./*.py"
